body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: yellow;
  color: black;
  border: 10px solid black;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  min-width: 10vh;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width: 50vw;
  text-decoration: none;
}

li {
  color: black;
  list-style: none;
  padding: 5px;
}

.about {
  padding: 50px;
  border: 1px solid white;
}

.vehicle {
  border: 1px solid yellow;
  font-size: 20px;
  border-radius: 5px;
  background-color: yellow;
  margin: 10px 80px;
  padding: 10px;
}

.vehicle:hover {
  background-color: yellow;
  color: black;
  font-weight: bold;
}

.character-name {
  border: 1px solid black;
  font-size: 20px;
  border-radius: 5px;
  background-color: black;
  color: yellow;
  margin: 10px 80px;
  padding: 10px;
}

#characterDetails:hover {
  background-color: yellow;
  color: black;
}

.character-item-name {
  color: yellow;
  padding: 5px;
}

.character-item-name:hover {
  color: black;
  background-color: yellow;
  border-radius: 5px;
}

.vehicle-card {
  border: 1px solid yellow;
  font-size: 20px;
  border-radius: 5px;
  background-color: yellow;
  margin: 10px 80px;
  padding: 10px;
}

.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.home-header-img {
  margin-right: 15px;
  border: 1px solid yellow;
}

.home-thumbnail-img {
  margin: 5px;
  cursor: pointer;
}
